*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{background-color: black;}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 18vh;
    background-color: darkgreen;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 18vh;
    background-color: lightcyan;
  
}
/*-----------------------------------------*/
/*nav bar logo*/
.logoSize{
    height: 60px;
    width: 250px;
    max-height: 65px;
    max-width: 450px;
    margin: 2px;
    padding: 1px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
h5{
    color: ghostwhite;
}
/*-----------------------------------------*/
/*nav bar menu items*/
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
    list-style: none;
    
}
.nav-links a{
    color: darkgreen;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 14px;
}
/*-----------------------------------------*/
/*navigation bar burger icon*/
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    height: 3px;
    width: 35px;
    background-color: black;
    margin: 7px;
    
}
/*------------------------------------------*/
/*responsive section*/
@media screen and (max-width: 1024px){
    
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    
    .nav-section {
        overflow-x: hidden;
    }
    .nav-links {
        z-index: 2;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
            
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }    
    
    
   
}
@media screen and (min-width:500px){
    .nav-section {
        overflow-x: hidden;
    }
}
    

.nav-active{
    transform: translateX(0%);
}
/*----------------------------------------------------------*/
/*burger menu link list animation*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*-----------------------------------------------------------*/
/*burger icon animation*/
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}
/*----------------------------------------------------------*/
/*SlideShow*/
.slideShow-container{
    z-index: 3;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.carousel-indicators{
    z-index: 3;
}
.carousel-item{
    height: 750px;
}
/*-------------------------------------------------------------*/
/*----------------index page body content-------------------*/
.product-gallery {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
        
}
.product-gallery:hover{
    border: 1px solide #777;
}
.product-gallery img {
    width: 300px;
    height: 350px;
    text-align: center;
}
.desc{
    padding: 15px;
    text-align: center;
    color: whitesmoke;
        
}
#beverage{
    background-color: aquamarine;
    text-align: center;
    
}
.img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
	  margin:0 auto;
}
/*home description and intro*/
.home-descimg1{
    float: left;
}
.home-text1{
    color: ghostwhite;
}

/*-------------------------------------------------------------*/
/*-----------------footer---------------------*/ 
.footer-section{
    background-color: #02123C  ; 
    margin-top: auto;
}
.footer-content{
    text-align: center;
    background-color: #02123C ;
    
}

.footer-head{
    color: ghostwhite;
    padding-left: 15px;
    align-items: center;
}
.quicklinks a{
    color: green;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    text-align: center;
    font-weight: 300 bold;
    font
}
.footer-info
{
    margin: 1.75px;
    padding:0;
    line-height: .90em;
    text-align: center;

}
.footer-contact {
    color: green;
    text-align: center;
    font-weight: 300 bold; 
    
}
.telephone{
     margin: 1.75px;
     padding:0;
     line-height: .90em;
}
.footer-icons{
    font-size: 40px;
}
.fa-instagram{
    color: #C13584;
}
.fa-envelope{
    color: white;
}
.footer-content{
    padding-left: 0px;
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
.ISO{
    padding-top: 20px;
    position: relative;
        
}
.footer-icons{
    position: relative;
    left: 23px;
}
@media print {
    .footer-section {page-break-after: always;}
}
 /*------------------------------------------------------------------------*/
/*------------------about us*---------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.companybrief{
    text-align: center;
    line-height: 1.8;
}

.container {
  padding: 0 16px;
  background-color: black;
  color: whitesmoke;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*----------------------------------------------------------------------------*/
/*------------------contact us-------------------*/
.contact-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: whitesmoke;
}
.contact-section .contact-container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: whitesmoke;
    letter-spacing: 2px;
}
.contact-section .contact-container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: whitesmoke;
    letter-spacing: 2px;
}
.contact-form i.fa{
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid white;
    color: whitesmoke;
    
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid white;
    color: whitesmoke;
}
.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}
.form-info{
    font-size: 16px;
    font-style: italic;
    color: ghostwhite;
    letter-spacing: 2px;
    text-justify: auto;
}
input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: darkgrey;
    color: ghostwhite;
    border: none;
    outline: none;
    
}
input::placeholder{
    color: ghostwhite;
}
textarea{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: darkgrey;
    color: ghostwhite;
    border: none;
    outline: none;
}
textarea::placeholder{
    color: ghostwhite;
}
    
.submit{
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    margin-left: 3%;
    border: 2px solid white;
    color: ghostwhite;
    background-color: darkslategray;
    
}
.submit:hover{
    border: 1px solid white;
    color: ghostwhite;
    cursor: pointer;
}
/*contact page responsive*/
@media(max-width:768px){
    .contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;    
    }
    .contact-section .submit{
        width: 60%;
    }
}
/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------product page-------------------------------------*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;    
  margin: auto;
  text-align: center;
  font-family: arial; 
  margin: 13%%; 
  margin-bottom: 10px;    
     
      
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.column-product{
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.ayurvedic{
    width: 300px;
    height: 300px;
}

.product-page {
  padding: 0 16px;
  background-color: black;
  margin: 13%;  
    
}
@media screen and (max-width: 650px) {
  .column-product {
    width: 100%;
    display: block;
  }
}

/*-------------------------------------------------------------------------------------------*/
/*--------------------------------Inqurie page------------------------------------------------*/

.inqurie-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: whitesmoke;
}
.inqurie-container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: whitesmoke;
    letter-spacing: 2px;
}
label{
    color: ghostwhite;
    text-align: center;
}
.inqurie-section .inqurie-container{
    text-align: center;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: whitesmoke;
    letter-spacing: 2px;
}

.inqurie-form{
    display: grid;
    grid-template-columns: auto auto;
}

@media(max-width:768px){
    .inqurie-section .inqurie-form{
        display: block;
        width: 100%;
        text-align: center;    
    }
    .inqurie-section .submit{
        width: 60%;
    }
}
/*check box*/
